[Desktop Entry]
Type=Link
Name=RIBALTAS E GAMBIARRAS18_21
URL=https://docs.google.com/document/d/1kgI9BToDZcwy9VG9vraqis23-0SFXIGetyAq1Lev3eg/edit?usp=drivesdk
