[Desktop Entry]
Type=Link
Name=Projeto Integrado - As Farpas Modernas
URL=https://docs.google.com/document/d/1Tph0-za7IDbFxaRdGAxAXy3taKxukOnBYRzOY6j0laU/edit?usp=drivesdk
