[Desktop Entry]
Type=Link
Name=4_TXT_RibaltaseGambiarras-N07-polemica
URL=https://docs.google.com/document/d/1eebPTphLS-YKwmO3EsuXhakE1ALx2_ZxPAYiNlWhm7A/edit?usp=drivesdk
