[Desktop Entry]
Type=Link
Name=Camilo_vida_artistica
URL=https://docs.google.com/document/d/1BdFGc2sPIVSBgXCs7BbGemG_k_iLGJQ47LJ5DMCnGNc/edit?usp=drivesdk
